<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/estilosResto.css">
    <title></title>
</head>
<body>
    <div class="contenedor">
        <div class="azul">
            <div class="encabezado">
                <img src="static/logo_empresa.png" alt="Logo de la empresa">
            </div>
            <div class="botones">
                <a href="clientes" class="seleccionado">Clientes</a>
                <a href="eventos">Eventos</a>
                <a href="animadores">Animadores</a>
                <a href="paquetes">Paquetes</a>
                <a href="comentarios">Comentarios</a>
                <a href="/">Cerrar sesión</a>
            </div>
        </div>
        <div class="contenido-panel">
            <h2>Registrar nuevo cliente</h2>
            <div class="recuadro-formulario">     
                <div class="formulario">
                    <form action="/agregarCliente" method="POST">
                        <div class="datos-formulario">

                            <label for="idtipocliente">ID tipo cliente (1 para persona natural y 2 para empresa):</label>
                            <input type="text" id="idtipocliente" name="idtipocliente" required>

                            <label for="id">ID cliente:</label>
                            <input type="text" id="id" name="id" required>

                            <label for="nombres">Nombre:</label>
                            <input type="text" id="nombres" name="nombres" required>

                            <label for="apPaterno">Apellido Paterno (solo si es persona natural):</label>
                            <input type="text" id="apPaterno" name="apPaterno" >

                            <label for="apMaterno">Apellido Materno (solo si es persona natural):</label>
                            <input type="text" id="apMaterno" name="apMaterno" >

                            <label for="dni">DNI (solo si es persona natural):</label>
                            <input type="text" id="dni" name="dni" >

                            <label for="celular">Celular:</label>
                            <input type="number" id="celular" name="celular" required>

                            <label for="ruc">RUC (solo si es empresa):</label>
                            <input type="text" id="ruc" name="ruc" >
                        </div>
                        <div class="botones-formulario">
                            <button class="boton-gris-claro" type="submit">Cargar</button>
                            <a href="clientes" class="boton-gris-claro">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>