<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/estilosIndex.css"
    <title></title>
</head>
<body>
    <div class="contenedor">
        <div class="izquierda">
            <div class="encabezado">
                <img src="static/logo_grande_empresa.png" alt="Logo de la empresa">
            </div>
            <form action="menu">
                <div class="formulario">
                    <input type="text" placeholder="Usuario" class="input-gris">
                    <input type="password" placeholder="Contraseña" class="input-gris">
                    <button type="submit">Ingresar</button>
                </div>
            </form>
        </div>
        <div class="imagen-derecha">
            <img src="static/imagen_derecha.png" alt="Imagen derecha">
        </div>
    </div>
</body>
</html>
